@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

svg{
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: transparent;
}
text{
  font-weight: bold;
}

